.footer-styles {
    height: 350px;
}

.register-styles {
    height: 250px;
}

.bg-banana-primary {
    background-color: rgba(40, 155, 222, 1);
}

.text-banana-primary {
    color: rgba(40, 155, 222, 1);
}

.carousel-item button {
    background-color: rgba(40, 155, 222, 1);
}

.ready-to-join button:hover {
    color: rgba(40, 155, 222, 1);
    background-color: white;
}